langchain
langchain-community
langgraph

langchain-google-genai
langchain-groq
langchain-mistralai
langchain-huggingface
python-dotenv
faiss-cpu
tiktoken

fastapi
uvicorn
requests

pillow
huggingface-hub
sentence-transformers

streamlit


langchain-core
# LLM Providers

langchain-mistralai
mistralai
# Vector Database
chromadb
# Embedding Models
sentence-transformers
# Document Loaders dependencies
pypdf
unstructured
beautifulsoup4
lxml
# Text Processing
tiktoken
# Data Handling
pandas
numpy
# Utilities
tqdm
requests

fonttools

langchain-voyageai

arxiv