langchain
langchain-community
langgraph

langchain-google-genai
langchain-groq
langchain-mistralai
langchain-huggingface
python-dotenv
faiss-cpu
tiktoken

fastapi
uvicorn
requests

pillow
huggingface-hub
sentence-transformers

streamlit